In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\gema\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gema\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gema\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 330.3 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 369.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import pymysql 
pymysql.install_as_MySQLdb()

import getpass

In [13]:
user = input("Ingrese su usuario de MySQL: ")
password = getpass.getpass("Ingrese su contraseña de MySQL: ")

In [14]:
bd = 'sakila'
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [39]:
def rentals_month(engine, month, year):
    query = f"SELECT * FROM rental WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}"
    rentals = pd.read_sql(query, engine)
    return rentals

rentals_df = rentals_month(engine, 5, 2005)
print(rentals_df.head())

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [40]:
def rental_count_month(rentals_month, month, year):
    print(rentals_month.columns)  # Verificar las columnas disponibles
    print(rentals_month.head())  # Inspeccionar las primeras filas

    month = str(month).zfill(2)
    year = int(year)

    # Verificar si rental_date está presente
    if 'rental_date' not in rentals_month.columns:
        raise ValueError("La columna 'rental_date' no existe en el DataFrame.")

    # Filtrar por el mes y año seleccionados
    filtered_rentals = rentals_month[
        (rentals_month['rental_date'].dt.month == int(month)) &
        (rentals_month['rental_date'].dt.year == year)
    ]

    # Agrupar por customer_id y contar alquileres
    rental_counts = filtered_rentals.groupby('customer_id').size().reset_index(name=f'alquileres_{month}_{year}')

    return rental_counts

In [41]:
rentals_df = rentals_month(engine, 5, 2005)
print(rentals_df.head())  # Verificar que tiene las columnas esperadas
result_count = rental_count_month(rentals_df, 5, 2005)
print(result_count)

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53
Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update'],
      dtype='object')
   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53
     customer_id  alquileres_05_2005
0              1                   2
1              2                   1
2              3                   2
3              5                   3
4              6                   3
..           ...                 ...
515          594                   4
516          595                   1
517          596                   6
518          597                   2
519          599                   1

[520 rows x 2 columns]

In [48]:
def compare_rentals(rentals_df1, rentals_df2):
    # Verificar que los DataFrames tengan la columna 'customer_id' y las columna de alquileres
    if 'customer_id' not in rentals_df1.columns or 'customer_id' not in rentals_df2.columns:
        raise ValueError("Ambos DataFrames deben contener la columna 'customer_id'.")
    
    # Unir los DataFrames por 'customer_id'
    merged_df = pd.merge(rentals_df1, rentals_df2, on='customer_id', how='outer', suffixes=('_1', '_2'))
    
    # Verifica las columnas disponibles en merged_df
    print("Columnas disponibles en merged_df:", merged_df.columns)

    # Rellenar NaN con 0 para los clientes que no aparecen en ambos DataFrames
    merged_df = merged_df.fillna(0)
    
    # Obtener el nombre de las columnas de alquiler
    col_1 = [col for col in rentals_df1.columns if 'alquileres' in col][0]
    col_2 = [col for col in rentals_df2.columns if 'alquileres' in col][0]
    
    # Calcular la diferencia de alquileres
    merged_df['diferencia'] = merged_df[col_1] - merged_df[col_2]
    
    return merged_df

In [49]:
# Usar rental_count_month para obtener los alquileres de mayo de 2005
rentals_may_2005 = rental_count_month(rentals_df, 5, 2005)
print(rentals_may_2005.head())  # Verifica que las columnas estén correctas

# Usar rental_count_month para obtener los alquileres de junio de 2005
rentals_jun_2005 = rental_count_month(rentals_df, 6, 2005)
print(rentals_jun_2005.head())  # Verifica que las columnas estén correctas

# Comparar los alquileres entre mayo y junio de 2005
result_comparison = compare_rentals(rentals_may_2005, rentals_jun_2005)
print(result_comparison.head())  # Verifica el resultado

Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update'],
      dtype='object')
   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53
   customer_id  alquileres_05_2005
0            1                   2
1            2                   1
2            3                   2
3            5                   3
4            6                   3
Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update'],
      dtype='object')
   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53
Empty DataFrame
Columns: [customer_id, alquileres_06_2005]
Index: []
Columnas disponibles en merged_df: Index(['customer_id', 'alquileres_05_2005', 'alquileres_06_2005'], dtype='object')
   customer_id  alquileres_05_2005  alquileres_06_2005  diferencia
0            1                   2                 0.0         2.0
1            2                   1                 0.0         1.0
2            3                   2                 0.0         2.0
3            5                   3                 0.0         3.0
4            6                   3                 0.0         3.0